# --- Environment Variables ---
PORT=5000

# MongoDB Atlas Connection URI
# Example: mongodb+srv://username:password@cluster.mongodb.net/finance_portfolio?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://samirsatgauwa00_db_user:samir00@harshu.xoqarri.mongodb.net/Harshu?appName=Harshu&compressors=zlib

# Initial admin password. Set a unique password before starting the server.
ADMIN_PASSWORD=ChangeMe123

# JWT secret for authenticating admin sessions. Use a random secret.
JWT_SECRET=QWERTYUIOPASDFGHJKLZXCVBNM1234567890abcdefABCDEFGH
